<%= form_for [@link, @comment] do |f| %>
  <div class="form-group">
    <%= f.label "Add a Comment" %>
    <%= f.text_area :content %>
  </div>
    <%= f.submit(class: "btn btn-primary") %>
<% end %>
