
<div class="row">
          <div class="large-4 small-12 columns">
            <img src="assets/kitteh.png">
            <div class="hide-for-small panel">
              <h3>
                KittenNewz
              </h3>
              <h5 class="subheader">
                A great place to find the latest news for nerds
              </h5>
            </div><a href="#">
            <div class="panel callout radius">
              <h6>
                99&nbsp; items in your cart
              </h6>
            </div></a>
          </div>
          <div class="large-8 columns">
            <div class="row">
              <% Link.all.each do |link| %>
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">
                   <div class="panel">
                    <h5>
                      <%= link_to "#{link.headline}", "http://#{link.url}", target: "_blank" %>
                    </h5>
                    <h6 class="subheader">
                      <%= link_to "Comments", link_comments_path(link.id)%>
                    </h6>
                  </div>
                </div>
              <% end %>

              <div class="large-4 small-6 columns">
                <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">
                <div class="panel">
                  <h5>
                    Test1
                  </h5>
                  <h6 class="subheader">
                    $000.00
                  </h6>
                </div>
              </div>
              <div class="large-4 small-6 columns">
                <img src="http://placehold.it/500x500&amp;text=Thumbnail">
                <div class="panel">
                  <h5>
                    Test2
                  </h5>
                  <h6 class="subheader">
                    $000.00
                  </h6>
                </div>
              </div>
              <div class="large-4 small-6 columns">
                <img src="http://placehold.it/500x500&amp;text=Thumbnail">
                <div class="panel">
                  <h5>
                    Test3
                  </h5>
                  <h6 class="subheader">
                    $000.00
                  </h6>
                </div>
              </div>
              <div class="large-4 small-6 columns">
                <img src="http://placehold.it/500x500&amp;text=Thumbnail">
                <div class="panel">
                  <h5>
                    Item Name
                  </h5>
                  <h6 class="subheader">
                    $000.00
                  </h6>
                </div>
              </div>
              <div class="large-4 small-6 columns">
                <img src="http://placehold.it/500x500&amp;text=Thumbnail">
                <div class="panel">
                  <h5>
                    Item Name
                  </h5>
                  <h6 class="subheader">
                    $000.00
                  </h6>
                </div>
              </div>
              <div class="large-4 small-6 columns">
                <img src="http://placehold.it/500x500&amp;text=Thumbnail">
                <div class="panel">
                  <h5>
                    Item Name
                  </h5>
                  <h6 class="subheader">
                    $000.00
                  </h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div class="panel">
                  <div class="row">
                    <div class="large-2 small-6 columns">
                      <img src="http://placehold.it/300x300&amp;text=Site%20Owner">
                    </div>
                    <div class="large-10 small-6 columns">
                      <strong>This Site Is Managed By</strong>
                      <hr>
                      Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>
                  © Copyright no one at all. Go to town.
                </p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li>
                    <a href="#">Link 1</a>
                  </li>
                  <li>
                    <a href="#">Link 2</a>
                  </li>
                  <li>
                    <a href="#">Link 3</a>
                  </li>
                  <li>
                    <a href="#">Link 4</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>



<ol>
  <% Link.all.each do |link| %>
    <li><%= link_to "#{link.headline}", "http://#{link.url}", target: "_blank" %></li>
    <p><%= link_to "Comments", link_comments_path(link.id)%></p>
  <% end %>
</ol>
