        <div class="row">
          <div class="large-2 small-12 columns no-left-padding">
            <div class="panel callout">
              <h5 class = 'text-center'>
                <a href = '/links/new'>Submit a new story</a>
              </h5>
            </div>
          </div>
          <% Link.all.each do |link| %>

          <div class="large-offset-2 large-10 columns comment-margin no-right-padding comment-row panel ">

              <div class="vote-icons large-1 small-1 column">
                 <i class="icon vote up fa fa-chevron-circle-up fa-2x"></i>
                 <i class="icon vote down fa fa-chevron-circle-down fa-2x"></i>
              </div>

              <div class="column-container large-1 small-1 column">
                 <div class="vote-counter">1123</div>
              </div>
              <img class="large-1 small-1 column comment-image" src="http://placekitten.com/g/82/82">

              <div class="comment-panel large-8 small-8 column">
                <h5>
                  <%= link_to "#{link.headline}", "http://#{link.url}", target: "_blank" %>
                </h5>
                <h6 class="subheader comment-time">
                  <%= link_to "Time goes here", link_comments_path(link.id)%>
                </h6>
              </div>
              <div class="column-container large-1 small-1 column">
                <%= link_to '<i class="icon comment up fa fa-comment-o fa-2x"></i>'.html_safe, link_comments_path(link.id)%>

                 <div class="comment-counter">321</div>
              </div>



          </div>
          <% end %>
        </div>


        <div class="row">
          <div class="large-12 columns">
            <div class="panel">
              <div class="row">
                <div class="large-2 small-6 columns">
                  <img src="http://placehold.it/300x300&amp;text=Site%20Owner">
                </div>
                <div class="large-10 small-6 columns">
                  <strong>This Site Is Managed By</strong>
                  <hr>
                  Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>
                  © Copyright no one at all. Go to town.
                </p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li>
                    <a href="#">Link 1</a>
                  </li>
                  <li>
                    <a href="#">Link 2</a>
                  </li>
                  <li>
                    <a href="#">Link 3</a>
                  </li>
                  <li>
                    <a href="#">Link 4</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
