<h1>hAcKEr N00z</h1>

<div id="user_header">
  <%= link_to "Sign Up", new_user_path %>
</div>

<ol>
  <% Link.all.each do |link| %>
    <li><%= link_to "#{link.headline}", "http://#{link.url}", target: "_blank" %></li>
    <p><%= link_to "Comments", link_comments_path(link.id)%></p>
  <% end %>
</ol>
