<% if object.errors.any? %>
  <div data-alert class="alert-box no-margin">Sorry, there are issues with the provided info. Please see below.</div>
    <% object.errors.full_messages.each do |error|%>
      <li class='alert-box secondary no-margin'><%= error %></li>
    <% end %>
  </div>
<% end %>
